body, html {
    font-size: 18px;
    height: 100%;
    width: 99%
}
.hero {
    /* Use "linear-gradient" to add a darken background effect to the image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Main_BG_1.jpg");

    /* Set a specific height */
    height: 101%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -15px;
}
.logo {
    display: block;
    width: 100%;
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.centerText {
    display: block;
    width: 100%;
    height: 45%;
}
.welcomeMsg {
    color: #fff;
    text-align: center;
    font-size: 3em;
    padding: 10px 20px 10px 20px;
    margin-top: 18%;
}
.learn{
    color: #fff;
    text-align: center;
}
.fa, .fas {
    position: relative;
    color: white;
    left: 50%;
}
.title {
    text-align: center;
    padding: 5% 0 0 0;
    font-size: 2.5em;
}
.projects{
    text-align: center;

}
.footer{
    background: black;
    margin: 0 -20px -20px -20px;
    padding-bottom: 5px;
}
.footTitle{
    text-align: center;
    padding: 5% 0 0 0;
    font-size: 2.5em;
    color: white;
}
.emailMe{
    position: relative;
    left: 45%;
    background: red;
    color: white;
    border: 1px solid red;
    text-align: center;
    padding: 18px 22px 18px 22px;
    font-size: 1.2em;
    border-radius: 10px;
}
.emailMe:hover{
    background: white;
    color: red;
    border-color: white;
    cursor: pointer;
}
.bio {
    padding-left: 5%;
    padding-right: 5%; 
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5%;
}
.copyright{
    text-align: center;
    color: white;
    padding-top: 5%
}
.container {
    height: 65vh;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  .cell {
    color: white;
    text-align: center;
    padding: 10%;
    font-size: 1.1em;
  }
  .cell-1 {
    background: black;
  }
  .cell-2 {
    background: black;
  }
