body, html {
    font-size: 18px;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.hero {
    /* Use "linear-gradient" to add a darken background effect to the image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Main_BG_1.jpg");

    /* Set a specific height */
    height: 101%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* margin: -15px; */
}
.logo {
    display: block;
    /* width: 100%; */
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
}
.centerText {
    display: block;
    /* width: 100%; */
    height: 35%;
}
.welcomeMsg {
    color: #fff;
    text-align: center;
    font-size: 3em;
    padding: 10px 20px 10px 20px;
    margin-top: 12%;
}
.learn{
    color: #fff;
    text-align: center;
}
.fa, .fas {
    position: relative;
    color: white;
    left: 50%;
}
.title {
    text-align: center;
    padding: 5% 0 0 0;
    font-size: 2.5em;
}
.projects{
    text-align: center;

}
.footer{
    background: black;
    /* margin: 0 -20px -20px -20px; */
    padding-bottom: 5px;
}
.footerBtn{
    display: flex;
    justify-content: center;
}
.footTitle{
    text-align: center;
    padding: 5% 0 0 0;
    font-size: 2.5em;
    color: white;
}
.emailMe{
    background: #b40101;
    color: white;
    border: 1px solid #b40101;
    text-align: center;
    padding: 7px 22px 7px 22px;
    font-size: 1.2em;
    border-radius: 10px;
    font-weight: 600;
}
.emailMe:hover{
    background: white;
    color: #b40101;
    border-color: white;
    cursor: pointer;
}
.bio {
    padding-left: 5%;
    padding-right: 5%; 
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5%;
}
.copyright{
    text-align: center;
    color: white;
    padding-top: 5%
}
.featured{
    height: 20vw;
    width: auto;
}
.featured:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.1); 
}
.container {
    margin: 5%;
    display: grid;
    grid-template-columns: minmax(375px, 1fr) minmax(375px, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 10px;
    justify-content: center;
  }
  .cell {
    color: white;
    text-align: center;
    padding: 10% 10% 0 10%;
    font-size: 1.1em;
  }
  .cell-1 {
    background: black;
  }
  .cell-2 {
    background: black;
  }
  /* @media screen and (max-width: 770px) and (min-width: 601px){
    .learnMore {
        padding-top: 20%;
  } */
  @media screen and (max-width: 600px){
      .welcomeMsg{
        font-size: 2em;
      }
      .learnMore {
        position: relative;
        top: 15%;
        /* padding-top: 15%; */
    }
    .container {
        grid-template-columns: 1fr;
        padding-bottom: 5%;
    }
    .featured{
        height: 44vw;
    }
    .footTitle{
        font-size: 1.8em;
    }
    .emailMe{
        left: 38%;
    }
     .bio {
        padding-bottom: 12%;
    }
  }
  @media only screen and (orientation : landscape){
      .welcomeMsg{
        font-size: 2em;
        margin-top: 2%;
      }
      .logo img {
        padding-top: 2%;
      }
      .learn {
        padding-top: 3%;
    }
  }
